@import url('bootstrap.css');

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #1AC550;
  background-image: url('https://f.cloud.github.com/assets/5040649/1002890/df5d0244-0a83-11e3-8536-9bc8ca6f0c65.JPG')
}

a {
  color: #DF3F00;
} 

p {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #c96bd6;
}

.page-header {
  border-bottom: 1pxpx solid #BAEAE0;
}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #B3B230;
  padding: 4px 4px 4px 4px;
  font-size: 13px;
  color: #D8BFD0;
  border: 1px solid #ccc;
}

.well {
  background-color: #83cfea;
}

.btn {
  color: #D21850;
  background-image: -moz-linear-gradient(top, #7A7A10, #7866A0);
  background-image: -ms-linear-gradient(top, #7A7A10, #7866A0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7A7A10), to(#7866A0));
  background-image: -webkit-linear-gradient(top, #7A7A10, #7866A0);
  background-image: -o-linear-gradient(top, #7A7A10, #7866A0);
  background-image: linear-gradient(top, #7A7A10, #7866A0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'7A7A10, endColorstr='#'7866A0, GradientType=0);
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #D21850;
  background-color: #7866A0;
}

.btn-primary {
  background-color: #006dcc;
  color: #426C60;
  background-image: -moz-linear-gradient(top, #8AABB0, #C80DA0);
  background-image: -ms-linear-gradient(top, #8AABB0, #C80DA0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8AABB0), to(#C80DA0));
  background-image: -webkit-linear-gradient(top, #8AABB0, #C80DA0);
  background-image: -o-linear-gradient(top, #8AABB0, #C80DA0);
  background-image: linear-gradient(top, #8AABB0, #C80DA0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'8AABB0, endColorstr='#'C80DA0, GradientType=0);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #C80DA0;
}

.btn-warning {
  color: #629450;
  background-image: -moz-linear-gradient(top, #6363A0, #6E71B0);
  background-image: -ms-linear-gradient(top, #6363A0, #6E71B0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6363A0), to(#6E71B0));
  background-image: -webkit-linear-gradient(top, #6363A0, #6E71B0);
  background-image: -o-linear-gradient(top, #6363A0, #6E71B0);
  background-image: linear-gradient(top, #6363A0, #6E71B0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'6363A0, endColorstr='#'6E71B0, GradientType=0);
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #6E71B0;
}

.btn-danger {
  color: #D11E70;
  background-image: -moz-linear-gradient(top, #322490, #5430A0);
  background-image: -ms-linear-gradient(top, #322490, #5430A0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#322490), to(#5430A0));
  background-image: -webkit-linear-gradient(top, #322490, #5430A0);
  background-image: -o-linear-gradient(top, #322490, #5430A0);
  background-image: linear-gradient(top, #322490, #5430A0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'322490, endColorstr='#'5430A0, GradientType=0);
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #5430A0}

.btn-success {
  color: #1DE520;
  background-image: -moz-linear-gradient(top, #F58800, #6B4500);
  background-image: -ms-linear-gradient(top, #F58800, #6B4500);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F58800), to(#6B4500));
  background-image: -webkit-linear-gradient(top, #F58800, #6B4500);
  background-image: -o-linear-gradient(top, #F58800, #6B4500);
  background-image: linear-gradient(top, #F58800, #6B4500);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'F58800, endColorstr='#'6B4500, GradientType=0);
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #6B4500;
}

.btn-info {
  color: #738CD0;
  background-image: -moz-linear-gradient(top, #2FF700, #2CF500);
  background-image: -ms-linear-gradient(top, #2FF700, #2CF500);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2FF700), to(#2CF500));
  background-image: -webkit-linear-gradient(top, #2FF700, #2CF500);
  background-image: -o-linear-gradient(top, #2FF700, #2CF500);
  background-image: linear-gradient(top, #2FF700, #2CF500);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'2FF700, endColorstr='#'2CF500, GradientType=0);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #2CF500;
}

.alert {
  padding: 8px 35px 8px 14px;
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
}

.alert-success {
  background-color: #6DFE20;
  border-color: #FF20E0;
}
.alert-success, .alert-success .alert-heading {
  color: #ABB310;
}
.alert-danger, .alert-error {
  background-color: #804E60;
  border-color: #373C10;
}
.alert-danger,
.alert-error,
.alert-danger .alert-heading,
.alert-error .alert-heading {
  color: #7BA280;
}
.alert-info {
  background-color: #A9CED0;
  border-color: #61F450;
}
.alert-info, .alert-info .alert-heading {
  color: #2846E0;
}

.navbar-inner {
  background-image: -moz-linear-gradient(top, #C9B1E0, #36e4ed);
  background-image: -ms-linear-gradient(top, #C9B1E0, #36e4ed);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#C9B1E0), to(#36e4ed));
  background-image: -webkit-linear-gradient(top, #C9B1E0, #36e4ed);
  background-image: -o-linear-gradient(top, #C9B1E0, #36e4ed);
  background-image: linear-gradient(top, #C9B1E0, #36e4ed);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'C9B1E0, endColorstr='#'36e4ed, GradientType=0);
}

.navbar .brand {
  padding: 8px 20px 12px;
  font-size: 20px;
  color: #d15ee0;
}

.navbar .divider-vertical {
  height: 41px;
  background-color: #cf61dd;
  border-right: 1px solid #c14edb;
}

.navbar .nav > li > a {
  padding: 10px 10px 11px;
  font-size: 14px;
  color: #bd52dd;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #D09FF0;
}

.label,
.badge {
  padding: 1px 3px 2px;
  font-size: 9.75px;
  color: #05D900;
  background-color: #FDC6C0;
}

.label-important,
.badge-important {
  background-color: #A67A40;
}

.label-warning,
.badge-warning {
  background-color: #6402E0;
}

.label-success,
.badge-success {
  background-color: #F5A560;
}

.label-info,
.badge-info {
   background-color: #BA47B0;
}

.thumbails {
  color: Blue;
}
